<wcx-page-header></wcx-page-header>
<wcx-list-page>
  <wcx-lg-card>
    <wcx-card-logo>Лого</wcx-card-logo>
    <wcx-card-title>Методика 1</wcx-card-title>
    <wcx-card-description>Описание методики 1</wcx-card-description>
    <wcx-card-content>
      <wcx-sm-card>
        <wcx-card-logo>Лого</wcx-card-logo>
        <wcx-card-title>Действие 1</wcx-card-title>
        <wcx-card-description>Описание действия 1</wcx-card-description>
      </wcx-sm-card>
    </wcx-card-content>
  </wcx-lg-card>
</wcx-list-page>
